:root {
  --accent: #D44D5C;
  --accent-secondary: #B8E2C8;
  --background-primary: #f5eae4;
  --background-secondary: #f0f4f5;
  --background-dark: #393332;
  --text: #393332;
  --text-secondary: #9D9B9E;
  --text-dark: white;
  --border: #434046;
}

img {
  max-width: 50vw;
}

body {
  background-color: var(--background-primary);
  margin: 0;
  font-family: "Montserrat";
  color: var(--text);
}

ul {
  padding-inline-start: unset;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: unset;
}

.c-title {
  text-align: center;
  color: white;
  font-size: 4rem;
}
.c-title-sub, .c-title span {
  display: block;
  font-size: 1rem;
}

.c-product-wrap {
  margin: 38px auto;
  display: flex;
  gap: 10px;
}
.c-product-item img {
  -o-object-fit: contain;
     object-fit: contain;
  height: 9vh;
}
.c-product-item-pill {
  padding: 5px 20px;
  border-radius: 9999em;
  background-color: var(--background-primary);
  font-size: 12px;
}

.c-buy-btn {
  position: absolute;
  top: 70vh;
  left: 50%;
  display: flex;
  align-items: center;
  background-color: var(--accent);
  height: 48px;
  width: -moz-fit-content;
  width: fit-content;
  padding: 8px 50px;
  border-radius: 100vw;
  font-size: 1.3rem;
  color: white;
}

.c-main-title {
  text-align: center;
  font-size: 3rem;
  color: var(--accent);
}
.c-main-title span {
  display: block;
  font-size: 1rem;
  color: var(--text);
}

.l-header {
  width: 100%;
  position: fixed;
  z-index: 99999;
}
.l-header a {
  font-size: 1.5rem;
}
.l-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--background-primary);
}
.l-header-menu {
  display: flex;
  align-items: center;
}
.l-header-menu-item img {
  width: 1.3rem;
}
.l-header-login {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 48px;
  padding: 0 24px 0 22px;
  border: 1px solid var(--border);
  border-radius: 9999em;
  background-color: white;
}
.l-header-login img {
  height: 2rem;
}
.l-header-login span {
  font-size: 1rem;
}
.l-header-hamburger {
  height: 48px;
  width: 48px;
  border-radius: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--accent-secondary);
}

.l-container {
  position: relative;
  display: flex;
  padding-top: 80px;
}

.l-column-left {
  position: sticky;
  top: 0;
  width: 33vw;
  height: 100vh;
  padding: 2rem 3rem;
  background-color: var(--accent);
}
.l-column-left-logo {
  margin-bottom: 7vh;
}
.l-column-left-logo img {
  width: 26vw;
}
.l-column-left-menu {
  position: absolute;
  bottom: 2vh;
}
.l-column-left-menu-item {
  color: white;
  list-style-type: initial;
}
.l-column-left-slider-item-img {
  display: block;
  width: 201px;
  aspect-ratio: 201/142;
  position: relative;
  z-index: 1;
  border-radius: 8px 30px;
  border: 1px solid #fff;
  overflow: hidden;
}
.l-column-left-slider-item-img img {
  -o-object-fit: contain;
     object-fit: contain;
}
.l-column-left-slider-item-title {
  color: white;
  font-weight: 700;
  font-size: 14px;
}

.l-column-main {
  width: 100vw;
}
.l-column-main-hero-img-wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  overflow: hidden;
  height: 70vh;
}
.l-column-main-hero-img img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 100%;
}
.l-column-main-hero-title {
  font-size: 5rem;
  position: absolute;
  top: 8vh;
}

.l-column-right {
  position: sticky;
  top: 0;
  width: 33vw;
  height: 100vh;
  background-image: url(../img/culomn-right.jpg);
  background-size: cover;
}/*# sourceMappingURL=style.css.map */